	<meta property="og:title" content="Snake!">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Play snake videogame clone in your browser">
	<meta property="og:image" content="http://i.imgur.com/ANtP0Ok.png">
	<meta property="og:url" content="http://steiner.website/snake/">
