body,
button,
input,
fieldset {
	font-family: 'fsex300-webfont';
	color: lime;
	background-color: #222;
	font-size: 16px;
}

input:focus {
	box-shadow: none
	border: none;
	border-bottom: 2px solid #0b0;
	color: #0b0;
}

input {
	border: none;
	border-bottom: 2px solid lime;
}

fieldset{
	border: 2px solid lime;
}

button {
	padding: 0;
}

a,
button,
input[type="submit"] {
	color: lime;
	text-decoration: none;
	border: none;
}

a:focus,
button:focus,
input[type="submit"]:focus {
	color: #0b0;
	border: none;
}

a:visited {
}

a:hover,
button:hover,
input[type="submit"]:hover {
	text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


#game-module .snake-area {
	border: 5px solid lime;
}

#game-module .snake {
	background-color: lime;
}

#game-module .snake:first-child {
	background-color: #0b0;
}

#game-module .food {
	background-color: #0d0;
}
