@font-face{
	font-family: 'fsex300-webfont';
	src: url('../fonts/fsex300-webfont.eot');
	src: url('../fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/fsex300-webfont.woff') format('woff'),
	     url('../fonts/fsex300-webfont.ttf') format('truetype'),
	     url('../fonts/fsex300-webfont.svg#webfont') format('svg');
 }
