#game-module .snake-area {
	border: 5px solid blue;
}

#game-module .snake {
	background-color: #666;
}

#game-module .snake:first-child {
	background-color: #000;
}

#game-module .food {
	background-color: red;
}