@import url('fonts.css');
@import url('dark-theme.css');
/*@import url('light-theme.css');*/

input[type=number] {
	width: 45px;
	text-align: right;
}

#game {
	display: none;
}

#game.ready {
	display: block;
}

#game .snake-area {
	margin: 0 auto;
}

#game .snake:first-child {
	z-index: 1;
}

#game .status {
	text-align: center;
}

.text-center {
	text-align: center;
}

#config .hidden {
	display: none;
}

#config .configuration-form {
	position: fixed;
	z-index: 999;

	left: 50%;
	margin-left: -175px;
	top: 80px;

	width: 350px;
}

#config .configuration-form label {
	display: inline-block;
	width: 120px;
}